@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&display=swap');

* {
      margin: 0;
      padding: 0;
}

body {
      background-color: black;
}

.main {
      background-image: url("assests/img/bg.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 90vh;
      width: 100vw;
      margin: auto;
      position: relative;
}

.main .box {
      height: 90vh;
      width: 100vw;
      background-color: black;
      position: absolute;
      top: 0;
      opacity: 0.69;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;
      padding-top: 1.5rem;
      height: 3.875rem;
}

nav img {
      width: 10.8125rem;
      position: relative;
      z-index: 1;
}

nav button {
      position: relative;
      z-index: 1;
      cursor: pointer;
}

.main .hero {
      font-family: "Martel Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
      height: calc(90vh - 3524.375rem);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      gap: 1.4375rem;
      padding: 0px 1.875rem;
      padding-bottom: 0%;
      z-index: 1;
      color: white;
}

.hero>:first-child {
      text-align: center;
      font-weight: bolder;
      font-size: 5rem;
      line-height: 0.9;
}

.hero> :nth-child(2) {
      text-align: center;
      font-weight: 400;
      font-size: 48px;
}

.hero> :nth-child(3) {
      text-align: center;
      font-weight: 400;
      font-size: 2.5rem;
}

.userEmail {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
}

.line {
      background-color: rgb(35, 35, 35);
      height: 0.75rem;
      position: relative;
      width: 100vw;
}

.btn {
      color: white;
      font-weight: 400;
      cursor: pointer;
}

.btn-red {
      background-color: red;
      border: 1px solid red;
      padding: 0.75rem 1.5rem;
      border-radius: 0.3125rem;
      font-size: 1.5rem;
}

.userEmail input {
      background-color: transparent;
      padding: 0.75rem 1.5rem;
      border-radius: 0.3125rem;
      font-size: 1.5rem;
      border: 1px solid white;
      color: white;
      font-weight: 400;
      width: 22.5rem;
}

.btn-red-sn {
      background-color: red;
      border: 1px solid red;
      padding: 0.75rem 1.25rem;
      border-radius: 0.3125rem;
      font-size: 1.25rem;
      margin-left: 0.4rem;
}

nav>div>button:first-child {
      background-color: transparent;
      padding: 0.75rem 1.25rem;
      border-radius: 0.3125rem;
      font-size: 1.25rem;
      border: 1px solid white;
}

.first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8rem 0%;
      max-width: 90vw;
      margin: auto;
      align-content: center;
}

.first .text {
      color: white;
      display: flex;
      flex-direction: column;
}

.first .firstImg img {
      position: relative;
      z-index: 1;
}

.first .firstImg .video1 {
      position: absolute;
      right: 10.6875rem;
      width: 28.875rem;
      height: 28.5rem;
}

.first .text {
      font-family: "Martel Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.first .text> :first-child {
      font-weight: bolder;
      font-size: 5rem;
      line-height: 0.9;
}

.first .text> :last-child {
      font-weight: 400;
      font-size: 2.3125rem;
}

.firstImg .video2 {
      position: absolute;
      right: 13.125rem;
      width: 24.375rem;
      height: 20.625rem;
}

.faq {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 6.25rem 0px;
      width: 100vw;
}

.faq> :first-child {
      font-weight: bolder;
      font-size: 5rem;
      line-height: 0.9;
      padding: 1.5625rem;
}

.faq .que {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.que .ele {
      transition: all 0.8s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90vw;
      margin: auto;
      font-weight: 400;
      font-size: 2.1875rem;
      background-color: #2d2d2d;
      padding: 2.1875rem;
      margin-top: 1.25rem;
      cursor: pointer;
}

.ele:hover {
      background-color: rgba(65, 65, 65, 1);
}

.ele>img {
      filter: invert(1);
}

.que> :last-child {
      text-align: center;
      font-weight: 200;
      font-size: 2.5rem;
      padding: 3.125rem 0px 1.5625rem 0px;
}

footer {
      color: #b3b3b3;
      width: 90vw;
      margin: 5rem auto;
}

footer> :first-child {
      font-size: 1.5625rem;
      padding: 2.5rem 0px;
}

footer>button {
      background-color: transparent;
      padding: 0.75rem 1.25rem;
      border-radius: 0.3125rem;
      font-size: 1.25rem;
      border: 1px solid white;
      margin: 1.25rem 0px;
}

footer>div>a {
      color: #b3b3b3;
      font-family: inherit;
}

.footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .footer-items {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
}

.footer-items a,
.brand-name {
      color: #b3b3b3;
      font-size: 1.25rem;
      font-family: inherit;
}

@media screen and (min-width: 1975px) {
      /* .first .firstImg .video1 {
            position: absolute;
            right: 171px;
            width: 513px;
            height: 456px;
      }

      .firstImg .video2 {
            position: absolute;
            right: 245px;
            width: 390px;
            height: 311px;
      } */
}

@media screen and (min-width:1201px) and (max-width: 1450px) {
      /* .main {
            height: 80vh;
      }

      .main .box {
            height: 80vh;
      }

      .main .hero {
            height: calc(80vh - 62px - 1.5em);
      }

      .hero>:first-child {
            font-size: 60px;
      }

      .hero> :nth-child(2) {
            font-size: 38px;
      }

      .hero> :nth-child(3) {
            font-size: 30px;
      }

      .first .text> :first-child {
            font-size: 60px;
      }

      .first .text> :last-child {
            font-size: 38px;
      }

      .faq> :first-child {
            font-size: 60px;
      }

      .que> :last-child {
            font-size: 30px;
      } */
}

@media screen and (max-width: 1200px) {
      /* .main {
            height: 65vh;
      }

      .main .box {
            height: 65vh;
      }

      .main .hero {
            height: calc(65vh - 62px - 1.5em);
      }

      .hero>:first-child {
            font-size: 50px;
      }

      .hero> :nth-child(2) {
            font-size: 28px;
      }

      .hero> :nth-child(3) {
            font-size: 20px;
      }

      .first .text> :first-child {
            font-size: 50px;
      }

      .first .text> :last-child {
            font-size: 28px;
      }

      .faq> :first-child {
            font-size: 50px;
      }

      .que> :last-child {
            font-size: 20px;
      } */
}

