@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&display=swap');

* {
      margin: 0;
      padding: 0;
}

body {
      background-color: black;
}

.main {
      background-image: url("assests/img/bg.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 100vh;
      width: 100%;
      margin: auto;
      position: relative9
}

.main .box {
      height: 100vh;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      opacity: 0.69;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;
      padding-top: 1.5em;
      height: 62px;
}

nav img {
      width: 173px;
      position: relative;
      z-index: 1;
}

nav button {
      position: relative;
      z-index: 1;
      cursor: pointer;
}

.main .hero {
      font-family: "Martel Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
      height: calc(100vh - 62px - 1.5em);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      gap: 23px;
      padding: 0px 30px;
      padding-bottom: 0%;
      z-index: 1;
      color: white;
}

.hero>:first-child {
      text-align: center;
      font-weight: bolder;
      font-size: 80px;
      line-height: 0.9;
}

.hero> :nth-child(2) {
      text-align: center;
      font-weight: 400;
      font-size: 48px;
}

.hero> :nth-child(3) {
      text-align: center;
      font-weight: 400;
      font-size: 40px;
}

.userEmail {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
}

.line {
      background-color: rgb(35, 35, 35);
      height: 12px;
      position: relative;
      width: 100%;
}

.btn {
      color: white;
      font-weight: 400;
      cursor: pointer;
}

.btn-red {
      background-color: red;
      border: 1px solid red;
      padding: 12px 24px;
      border-radius: 5px;
      font-size: 24px;
}

.userEmail input {
      background-color: transparent;
      padding: 12px 24px;
      border-radius: 5px;
      font-size: 24px;
      border: 1px solid white;
      color: white;
      font-weight: 400;
      width: 360px;
}

.btn-red-sn {
      background-color: red;
      border: 1px solid red;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 20px;
      margin-left: 6px;
}

nav>div>button:first-child {
      background-color: transparent;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 20px;
      border: 1px solid white;
}

.first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 128px 0%;
      max-width: 90%;
      margin: auto;
      align-content: center;
}

.first .text {
      color: white;
      display: flex;
      flex-direction: column;
}

.first .firstImg img {
      position: relative;
      z-index: 1;
}

.first .firstImg .video1 {
      position: absolute;
      right: 171px;
      width: 462px;
      height: 456px;
}

.first .text {
      font-family: "Martel Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.first .text> :first-child {
      font-weight: bolder;
      font-size: 80px;
      line-height: 0.9;
}

.first .text> :last-child {
      font-weight: 400;
      font-size: 37px;
}

.firstImg .video2 {
      position: absolute;
      right: 210px;
      width: 390px;
      height: 330px;
}

.faq {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 100px 0px;
      width: 100%;
}

.faq> :first-child {
      font-weight: bolder;
      font-size: 80px;
      line-height: 0.9;
      padding: 25px;
}

.faq .que {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.que .ele {
      transition: all 0.8s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      font-weight: 400;
      font-size: 35px;
      background-color: #2d2d2d;
      padding: 35px;
      margin-top: 1590 cursor: pointer;
}

.ele:hover {
      background-color: rgba(65, 65, 65, 1);
}

.ele>img {
      filter: invert(1);
}

.que> :last-child {
      text-align: center;
      font-weight: 200;
      font-size: 40px;
      padding: 50px 0px 25px 0px;
}

footer {
      color: #b3b3b3;
      width: 90%;
      margin: 80px auto;
}

footer> :first-child {
      font-size: 25px;
      padding: 40px 0px;
}

footer>button {
      background-color: transparent;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 20px;
      border: 1px solid white;
      margin: 20px 0px;
}

footer>div>a {
      color: #b3b3b3;
      font-family: inherit;
}

.footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .footer-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.footer-items a,
.brand-name {
      color: #b3b3b3;
      font-size: 20px;
      font-family: inherit;
}

@media screen and (min-width: 1975px) {
      .first .firstImg .video1 {
            position: absolute;
            right: 171px;
            width: 513px;
            height: 456px;
      }

      .firstImg .video2 {
            position: absolute;
            right: 245px;
            width: 390px;
            height: 311px;
      }
}

@media screen and (max-width: 1450px) {
      .main {
            height: 80vh;
      }

      .main .box {
            height: 80vh;
      }

      .main .hero {
            height: calc(80vh - 62px - 1.5em);
      }

      .hero>:first-child {
            font-size: 60px;
      }

      .hero> :nth-child(2) {
            font-size: 38px;
      }

      .hero> :nth-child(3) {
            font-size: 30px;
      }

      .first .text> :first-child {
            font-size: 60px;
      }

      .first .text> :last-child {
            font-size: 38px;
      }

      .faq> :first-child {
            font-size: 60px;
      }

      .que> :last-child {
            font-size: 30px;
      }
}

@media screen and (max-width: 1200px) {
      .main {
            height: 60vh;
      }

      .main .box {
            height: 60vh;
      }

      .main .hero {
            height: calc(60vh - 62px - 1.5em);
      }

      .hero>:first-child {
            font-size: 50px;
      }

      .hero> :nth-child(2) {
            font-size: 28px;
      }

      .hero> :nth-child(3) {
            font-size: 20px;
      }

      .first .text> :first-child {
            font-size: 50px;
      }

      .first .text> :last-child {
            font-size: 28px;
      }

      .faq> :first-child {
            font-size: 50px;
      }

      .que> :last-child {
            font-size: 20px;
      }
}

